<!DOCTYPE html>
<html>

        <head>
            <%- include ('./partials/head') %>   
        </head>

        <body> 
            <%- include ('./partials/header') %>
            <h2 style="margin-top: 150px">CATEGORIA: HOGAR</h2>
            <main class= "container row">

                <% for (let i= 0; i <= product.length; i++) %> 
                <section class= "container row">
                            <article class ="product col">
                                <div class= "img-box">
                                    <a href="/product/<%=product.id%>/detail">                             
                                      <img  src="/img/<%= product.image %> " alt="<%= product.name %> ">
                                        
                                 </div>
                                <div class="main-article1">
                                    <h3 class="price">$ <%= product.price %> </h3>
                                    <h4 class="payment-method">Hasta <%= product.payment %>  cuotas</h4>
                                    <h4 class="description"><%= product.name %> </h4>
                                </div>
                            </a>   
                            </article> 
                </section>
            </div>
            <% } %> 
           
          <% if (!product) { %> 
            <div>
                <h2 style="color: tomato;">No hay productos aún en esta categoría</h2>
                <p>¿Deseas comenzar a vender? Registrate como vendedor <a href ="/register">aquí</a></p>
            </div>
        <% } %>
            </main>

        <!--FOOTER-->
        <%- include ('./partials/footer') %>
            
  </body>
</html>