<!DOCTYPE html>
<html>

    <head>
     <%- include ('./partials/head') %>
    </head>
   <body>
    
    <%- include ('./partials/header') %>

        <!-- ESPACIO PARA CAROUSEL (VER CON JS/LUEGO) -->

        <div class="carousel">
            <div class="carousel-inner">
                <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
                    <div class="carousel-item">
                        <img src="../img/banner1.png">
                    </div>
                <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
                    <div class="carousel-item">
                        <img src="../img/banner2.png">
                    </div>
                <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
                    <div class="carousel-item">
                        <img src="../img/banner3.png">
                    </div>
                        <label for="carousel-3" class="carousel-control prev control-1">‹</label>
                        <label for="carousel-2" class="carousel-control next control-1">›</label>
                        <label for="carousel-1" class="carousel-control prev control-2">‹</label>
                        <label for="carousel-3" class="carousel-control next control-2">›</label>
                        <label for="carousel-2" class="carousel-control prev control-3">‹</label>
                        <label for="carousel-1" class="carousel-control next control-3">›</label>
                <ol class="carousel-indicators">
                    <li>
                        <label for="carousel-1" class="carousel-bullet">•</label>
                    </li>
                    <li>
                        <label for="carousel-2" class="carousel-bullet">•</label>
                    </li>
                    <li>
                        <label for="carousel-3" class="carousel-bullet">•</label>
                    </li>
                </ol>
            </div>
        </div>


        <!--MAIN-->

        <main class="row">

                <div class="container row subtitle">
                    <h2>Los más vendidos </h2>
                </div>

                <section class="container row">
                    
                    <% for (let i = 0; i < (vendidos.length > 4 ? 4 : vendidos.length); i++) { %> 
                    <article class ="product col">
                        <div class= "img-box">
                            <a href="product/<%=vendidos[i].id%>/detail">                               
                              <img  src="../img/<%= vendidos[i].image %> " alt="<%= vendidos[i].name %> ">
                            </a>    
                         </div>
                        <div class="main-article1">
                            <h3 class="price">$ <%= vendidos[i].price %> </h3>
                            <h4 class="payment-method">Hasta <%= vendidos[i].payment %>  cuotas</h4>
                            <h4 class="description"><%= vendidos[i].name %> </h4>
                        </div>
                    </article> 
                    <% } %> 
                </section>

                    <div class="container row subtitle">
                        <h2 id="categorias">Categorías</h2>
                    </div>

            <section class="container row">

                    <article class ="categoria col" >
                        <a class="link-categ" href="/accesorios">
                            <div class= "img-box categ">
                                <img class="img-categoria" src="../img/vector-beauty.svg" alt="complementos">
                                <h3 class="segmento">ACCESORIOS</h3>
                            </div>
                        </a>
                    </article>

                    <article class ="categoria col">
                        <a class="link-categ" href="/arte">
                            <div class= "img-box categ">
                                <img class ="img-categoria" src="../img/arte-vector.svg" alt="arte">
                                <h3 class="segmento">ARTE</h3>
                            </div>
                        </a>
                    </article>

                <article class ="categoria col">
                    <a class="link-categ" href="/hogar">
                        <div class="img-box categ">
                            <img class ="img-categoria" src="../img/deco-vector-hogar.svg" alt="hogar">
                            <h3 class="segmento">HOGAR</h3>
                        </div>
                    </a>
                </article>

                <article class ="categoria col" >
                    <a class="link-categ" href="/juegos">
                        <div class="img-box categ">
                            <img class ="img-categoria" src="../img/toy-vector.svg" alt="juguetes">
                            <h3 class="segmento">JUEGOS</h3>
                        </div>
                    </a>    
                </article>
    
                <article class ="categoria col">
                    <a class="link-categ" href="/cosmetica">
                        <div class="img-box categ">    
                            <img class ="img-categoria" src="../img/cosmetic-vector.svg" alt="cosmética">
                            <h3 class="segmento">COSMÉTICA</h3>
                        </div>
                    </a>
                </article>

                <article class ="categoria col">
                    <a class="link-categ" href="/vestimenta">
                        <div class="img-box categ">
                            <img class ="img-categoria" src="../img/clothes-vector.svg" alt="ropa y calzado">
                            <h3 class="segmento">ROPA Y CALZADO</h3>
                        </div>    
                    </a>
                </article>

                </section>

                <div class="container row subtitle">
                    <h2>Destacados del mes</h2>
                </div>
                
                <section class="container row">

                    <% for (let i = 0; i < (vendidos.length > 4 ? 4 : vendidos.length); i++) { %> 
                        <article class ="product col">
                            <div class= "img-box">
                                <a href="product/<%=destacados[i].id%>/detail">                                
                                  <img  src="../img/<%= destacados[i].image %> " alt="<%= destacados[i].name %> ">
                                </a>    
                             </div>
                            <div class="main-article1">
                                <h3 class="price">$ <%= destacados[i].price %> </h3>
                                <h4 class="payment-method">Hasta <%= destacados[i].payment %>  cuotas</h4>
                                <h4 class="description"><%= destacados[i].name %> </h4>
                            </div>
                        </article> 
                        <% } %> 

                </section>
        </main>

        <!-- ICON -->
        <div class = "whatsapp">
        <a href="https://api.whatsapp.com/send/?phone=59891545444&text=%22Hola+%C2%A1+Hecho+a+%20Mano+!+Estoy+interesadx+en+.+.+.%22&app_absent=0" class="whatsapp" 
        target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>
        </div>
    

        <!--SOCIAL MEDIA-->

        <div class= "red-social-container">
            <h4>Encontranos también en:</h4>
            <a class= "text-footer-yellow" href="https://www.instagram.com/explore/tags/artesanias/"><i class="fab fa-instagram"></i></a>
            <a class= "text-footer-yellow" href="https://www.facebook.com/groups/188953441869265"><i class="fab fa-facebook-f"></i></a>
        </div>

        <!--FOOTER-->
        <%- include ('./partials/footer') %>
            
  </body>
</html>
