 <!DOCTYPE html>
 <html>

 <head>
    <meta charset="utf-8">
    <%- include ('./partials/head') %>
    <link href ="/css/stylesProductCart.css" rel="stylesheet">
      
 </head>

 <body>

     <%- include ('./partials/header') %>

     <main>
         <nav class="nav-menu">
             <div class="nav-menu-item1"><a href="/productCart"><h2>CARRITO DE COMPRAS</h2></a></div>
             <div class="nav-menu-item2"><a href="#"><h2>Información de envío</h2></a></div>
             <div class="nav-menu-item3"><a href="#"><h2>Metodos de pago</h2></a></div>
             <div class="nav-menu-item3"><a href="#"><h2>Revisión del pedido</h2></a></div>
         </nav>

         <section class="big-container">
             <h2 class="item-cart1"><a href="/productCart">Mi carrito</a></h2>
             <article class="small-container"> 
                 <section class="cart-item-container">
                     <article class="product1">
                         <a href="/product/productDetail">
                         <img src="../img/img2-A-linoleografía.png" alt="Linoleografía">
                         </a>
                         <div class="details">
                             <h3 class="price">$7.500</h3>
                             <h4 class= "payment-method">10% off</h4>
                             <h4 class= "description-details">Linoleografía</h4>
                             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos suscipit corrupti veniam assumenda aliquid distinctio voluptate amet?</p>
                             <input style="width: 35%; text-align: center;" type="number" name="price" placeholder="CANTIDAD">
                         </div>
                     </article>

                     <article class="product2">
                        <a href="/product/productDetail">
                         <img src="../img/img-1-C-mascarilla.png" alt="Tapabocas">
                    </a>
                         <div class="details">
                             <h3 class="price">$230</h3>
                             <h4 class= "payment-method">Hasta 3 cuotas sin interés</h4>
                             <h4 class= "description-details">Tapabocas</h4>
                             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos suscipit corrupti veniam assumenda aliquid distinctio voluptate amet?</p>
                             <input style="width: 35%; text-align: center;" type="number" name="price" placeholder="CANTIDAD">
                         </div>
                     </article>
             
                 </section>
                 <section class="summary">
                     <h3 class="price">Total general</h3>
                     <h3 class="price"><a href="#">¿Tienes un cupón de descuento?</a></h3>
                     <article class="value">
                         <div class="concepto">
                             <h4 class="list">Subtotal</h4>
                             <h4 class="list">Envio</h4>
                             <h4 class="list">Descuento</h4>
                         </div>
                         <div class="coste">
                            <h4 class="list">$7.750</h4>
                            <h4 class="list">A calcular</h4>
                            <h4 class="list">$750</h4>
                         </div>
                     </article>
                     <article class="value">
                        <div class="price">Total general</div>
                        <div class="total">$7000</div>
                    </article>
                 </section>
             </article>
         </section>
         <div class="container row subtitle">
             <h2>Agregar al carrito</h2>
         </div>
                

        <section class="container row">

            <% for (let i = 0; i < (vendidos.length > 4 ? 4 : vendidos.length); i++) { %> 
                <article class ="product col">
                    <div class= "img-box">
                        <a href="product/<%=destacados[i].idProducts%>/detail">                                
                          <img  src="../img/<%= destacados[i].image %> " alt="<%= destacados[i].name %> ">
                        </a>    
                     </div>
                    <div class="main-article1">
                        <h3 class="price">$ <%= destacados[i].price %> </h3>
                        <h4 class="payment-method">Hasta <%= destacados[i].payment %>  cuotas</h4>
                        <h4 class="description"><%= destacados[i].name %> </h4>
                    </div>
                </article> 
                <% } %> 

        </section>
     </main>
     <div class="whatsapp">
        <a href="https://api.whatsapp.com/send/?phone=59891545444&amp;text=%22Hola+%C2%A1+Hecho+a+%20Mano+!+Estoy+interesadx+en+.+.+.%22&amp;app_absent=0" class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon" aria-hidden="true"></i></a>
     </div>
     <!--FOOTER-->
     <%- include ('./partials/footer') %>
            
 </body>
 </html>