<!DOCTYPE html>
<html>

     <head>
            <%- include ('./partials/head') %>
            <link href ="/css/stylesProductDetail.css" rel="stylesheet">
        </head>


    <body>
        <%- include ('./partials/header') %>
           <!-- Categoria de producto -->
    <main>

        <section>
            <div class="productCategory">
                <a href="#"></a><%= product.category %></a> > <a href="#"><%= product.name %> </a>
            </div>
        </section>

        <!-- Producto al que ingreso -->
        <section class="mainProduct">
            <article>
                <img src="/img/<%= product.image %>" class="mainProductImage">
            </article>  
                <div class="descriptionFields">
                    <div class="productName"> 
                        <a href=""></a><h2><%= product.name %> </h2></a>
                    </div>
                        <div class="productRating">
                            <ul class="rating interactive-rating mb-0">
                                <li>
                                <i class="far fa-heart fa-sm text-primary"></i>
                                </li>
                                <li>
                                <i class="far fa-heart fa-sm text-primary"></i>
                                </li>
                                <li>
                                <i class="far fa-heart fa-sm text-primary"></i>
                                </li>
                                <li>
                                <i class="far fa-heart fa-sm text-primary"></i>
                                </li>
                                <li>
                                <i class="far fa-heart fa-sm text-primary"></i>
                                </li>
                            </ul>
                        </div>

            <article class="productDescription">
                <div class="productPrice"> 
                   <h3 class="price-detail">$ <%= product.price %></h3>
                </div>
                <div class="paymentMethods">
                    Hasta <%= product.payment %> cuotas sin interés
                </div>
                <div class ="bannerMl">
                     <img src="https://imgmp.mlstatic.com/org-img/banners/ar/medios/125X125.jpg" 
                     title="Mercado Pago - Medios de pago" alt="Mercado Pago - Medios de pago" 
                     width="125" height="125"/>
                </div>

                <div class="productDescription">
                    <p class="description"><%= product.description %></p>
                </div>
    
                <div>
                   <ul class="deliveryDetails">
                        <li class="seller">Vendedor: <% product.seller %></li>
                        <li class="stock">Stock: disponible <%= product.stock %>  unidades</li>
                        <li class="shippingCost">Envio a domicilio: $ <%= product.shipping %></li>
                    </ul> 
                </div>

                
                <div class="comprar-button">
                    <button class="button-agregar" id="questionZone" type="submit" >Agregar al carrito</button>
                    <button class="button-comprar" id="questionZone" type="submit" >Comprar ahora</button>
                </div>

            </article>
        </section>

<!-- Caja de preguntas -->
        <section class="questionField">
            <h4 class="subtitle">¡Déjanos tu pregunta!</h4>
            <div class="userData">
                <form class="questionField-form" id="questionZone" action="/" method="POST">

                    <label class ="label-detail" for="email"> Correo electronico</label>
                    <input class ="input-detail" type="email" name="email" placeholder="juan@soto.com">

                    <label class ="label-detail" for="question">¿Quieres personalizar tu producto?</label>
                    <input class ="input-detail questionBox" type="text" name="question" placeholder="Lo haremos especial para vos...">


                    <div class= "buttom">
                        <buttom class= "submit-button" id="submit-button" type="submit">Borrar</buttom>
                        <button class="questionBoxButton" id="questionZone" type="submit" >Enviar</button>
                    </div>

                </form>
            </div>
        </section>
        <div>
        <h4>SECCIÓN SOLO DISPONIBLE PARA EL ADMINISTRADOR</h4>
        <a href="/product/<%= product.id %>/edit?_method=EDIT" class="action-button edit"><button style= "background: blue; color: white">EDITAR PRODUCTO</button></a>
						<form action="/product/<%= product.id %>?_method=DELETE" method="POST">
							<button style= "background: tomato; color: white" type="submit" class="action-button delete">ELIMINAR</button>
                            <p>Atención! La acción de eliminar es irrreversible</p>
						</form>
        </div>
        <!-- Productos relacionados -->

        <div class="container row subtitle">
            <h2>Productos relacionados</h2>
        </div>
            

        <section class= "container row">

            <% for (let i = 0; i < (product.length > 4 ? 4 : product.length); i++) { %> 
                <article class="relatedProduct col">
                    <div class= "img-box">
                        <a href="product/<%=product[i].id%>/detail">                               
                          <img  src="../img/<%= product[i].image %> " alt="<%= product[i].name %> ">
                        </a>    
                     </div>
                     <div class="related-article1">
                        <h3 class="price">$ <%= product[i].price %> </h3>
                        <h4 class="payment-method">Hasta <%= product[i].payment %>  cuotas</h4>
                        <h4 class="description"><%= product[i].name %> </h4>
                    </div>
                </article> 
                <% } %>
        </section>
        

    </main>

    <!-- ICON -->
    <div class = "whatsapp">
        <a href="https://api.whatsapp.com/send/?phone=59891545444&text=%22Hola+%C2%A1+Hecho+a+%20Mano+!+Estoy+interesadx+en+.+.+.%22&app_absent=0" class="whatsapp" 
        target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>
        </div>
       
    
        <!--SOCIAL MEDIA-->
    
        <div class= "red-social-container">
            <h4>Encontranos también en:</h4>
            <a class= "text-footer-yellow" href="https://www.instagram.com/explore/tags/artesanias/"><i class="fab fa-instagram"></i></a>
            <a class= "text-footer-yellow" href="https://www.facebook.com/groups/188953441869265"><i class="fab fa-facebook-f"></i></a>
        </div>
    
        <!--FOOTER-->
        <%- include ('./partials/footer') %>
      </body>
    </html>