<!DOCTYPE html>
<html>

<head>
   <link href ="/css/stylesProductCreator.css" rel="stylesheet">     
</head>

<body>
        <main>     
        
           <section>   
            <div class="title">
                <img src ="/img/logoEn-amarillo-.png">
                <h1>FORMULARIO DE EDICIÓN DE PRODUCTO</h1>   
                <h4>Ingreso exclusivo con clave administrador</h4>
                <input type="password" class="login-field" value="" placeholder="Contraseña" id="login-pass" required>
                <input class="submit-button" type="submit" value="Enviar">
            </div>
            <div>
                    <h4>¿Querés editar un producto?</h4>
                    
                    <form action="/product/edit/<%= productToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                        <div class="col-12 col-md-6">
                            <label for="name" class="form-label">Nombre del producto:</label>
                            <input type="text" id="name" name="name" placeholder="Ej: nombre del producto" class="form-input" value="<%= productToEdit.name %> ">
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="seller" class="form-label">Vendedor:</label>
                            <input type="text" id="seller" name="seller" placeholder="Ej: Vendedor" class="form-input" value="<%= productToEdit.seller %> ">
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="price" class="form-label">Precio del producto:</label>
                            <input type="number" id="price" name="price" placeholder="Ej: 5678" class="form-input" value="<%= productToEdit.price %> ">
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="stock" class="form-label">Stock:</label>
                            <input type="number" id="stock" name="stock" placeholder="Ej: 6" class="form-input" value="<%= productToEdit.stock %> ">
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="shipping" class="form-label">Costo de envío:</label>
                            <input type="number" id="shipping" name="shipping" placeholder="Ej: 56" class="form-input" value="<%= productToEdit.shipping %> ">
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="payment" class="form-label">Cuotas:</label>
                            <input type="number" id="payment" name="payment" placeholder="Ej: 150" class="form-input" value="<%= productToEdit.payment %> ">
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="category" class="form-label">Categoría:</label>
                            <select name="category" id="category" class="form-input">
                                <option value="" >Elegí</option>
                                <option value="arte" <%= productToEdit.category=='arte' ? 'selected' :''%> >Arte</option>
                                <option value="accesorios" <%= productToEdit.category=='accesorios' ? 'selected' :''%> >Accesorios</option>
                                <option value="ropa-y-calzado" <%= productToEdit.category=='ropa-y-calzado' ? 'selected' :''%>>Ropa y calzado</option>
                                <option value="cosmetica" <%= productToEdit.category=='cosmetica' ? 'selected' :''%>>Cosmética</option>
                                <option value="juegos" <%= productToEdit.category=='juegos' ? 'selected' :''%> >Juegos</option>
                                <option value="hogar" <%= productToEdit.category=='hogar' ? 'selected' :''%> >Hogar</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="status" class="form-label">Sección en el index:</label>
                            <select name="status" id="status" class="form-input">
                                <option value="">Elegí</option>
                                <option value="destacados">destacados</option>
                                <option value="vendidos">vendidos</option>
                            </select>
                        </div>
                        <!--<div class="col-12">
                            <label for="image" class="form-label">Imagen:</label>
                            <input type="file" name="image" id="image" class="form-input"  value="<%= productToEdit.image %>" >
                        </div>-->
                        <div class="col-12">
                            <label for="description" class="form-label">Descripción:</label>
                            <textarea name="description" id="description" class="form-input"  value="<%= productToEdit.description %>" ></textarea>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="buy-now-button">Guardar producto</button>
                        </div>
                    </div>
                    <div>
        </section>
    </main>
</body>
</html>