<!DOCTYPE html>
<html>

        <head>
            <%- include ('./partials/head') %>
            <link href ="/css/stylesRegister.css" rel="stylesheet">   
        </head>

    <body>

        <%- include ('./partials/header') %>

            <main class="register">

                <form class="main-form" action="/users/register" method="POST" enctype="multipart/form-data" id="form">
                    <div class= "title">
                        <h4>Datos Personales</h4>
                    </div>
                    
                    <div class="container-personal-information">
                        <input  class="personal-information-input name"
                                type="text" 
                                name="name" 
                                placeholder="Nombre y apellido"
                                value = "<%= locals.oldData ? oldData.name : null%>" >



                        <% if (locals.errors && errors.name) { %> 
                            <div class ="text-danger">
                                <%= errors.name.msg %> 
                            </div>
                        <% } %> 
                            <div class="nameErrorDiv" style="display:none;" style="color:red; "></div>

                        <input  class="personal-information-input is-invalid user" 
                                type="text" 
                                name="user" 
                                placeholder="Nombre de usuario"
                                value = "<%= locals.oldData ? oldData.user : null%>" >

                        <% if (locals.errors && errors.user) { %> 
                            <div class ="text-danger">
                                <%= errors.user.msg %> 
                            </div>
                        <% } %> 

                             <div class="userErrorDiv" style="display:none;" style="color:red; "></div>

                        <input class="personal-information-input email" 
                                type="email" 
                                name="email" 
                                placeholder="E-mail"
                                value = "<%= locals.oldData ? oldData.email : null%>">

                        <% if (locals.errors && errors.email) { %> 
                            <div class ="text-danger">
                                <%= errors.email.msg %> 
                            </div>
                        <% } %> 

                             <div class="emailErrorDiv" style="display:none;" style="color:red; "></div>


                        <input class="personal-information-input birthDate" 
                                type="date" 
                                name="birth_date" 
                                id="birth_date" 
                                max="2022-12-31"
                                value = "<%= locals.oldData ? oldData.birth_date : null%>">

                        <% if (locals.errors && errors.birth_date) { %> 
                            <div class ="text-danger">
                                <%= errors.birth_date.msg %> 
                            </div>
                        <% } %> 

                             <div class="birthDateErrorDiv" style="display:none;" style="color:red; "></div>

                        <input class="personal-information-input adress"
                                 type="text" 
                                 name="address" 
                                 placeholder="Domicilio"
                                 value = "<%= locals.oldData ? oldData.address : null%>">
                                 
                        <% if (locals.errors && errors.address) { %> 
                            <div class ="text-danger">
                                <%= errors.address.msg %> 
                            </div>
                        <% } %> 


                             <div class="adressErrorDiv" style="display:none;" style="color:red; "></div>

                        
                        <!-- <label for="pais">Pais de nacimiento</label> -->
                        <select 
                            name="country"
                            id=""
                            class = "personal-information-input country">
                            <option value="">Elegi un pais</option>
                            <%
                                let countries = ['Argentina', 'Bolivia', 'Brasil', 'Colombia', 'Chile', 'Ecuador', 'Paraguay',
                                'Peru', 'Peru', 'Uruguay', 'Venezuela'];
                            %>
                            <% for (const oneCountry of countries) { %>
                                 <option 
                                    value="<%= oneCountry %>"
                                    <%= locals.oldData && (oneCountry === oldData.country) ? 'selected' : null %> 
                                    ><%= oneCountry %></option>
                            <% } %>
                        </select>
                        <% if (locals.errors && errors.country) { %>
                            <div class ="text-danger">
                                <%= errors.country.msg %>
                            </div>
                        <% } %>


                             <div class="countryErrorDiv" style="display:none;" style="color:red; "></div>                          
                    
                    </div>
    
    
                        <div class= "title">
                            <h4>Perfil del usuario</h4>
                        </div>
    
                        <div class="profile">
                            <input class ="profile1" type="radio" name="profile" value="buy" id="comprador">
                            <label for="comprador">Comprador</label>
                            <input class ="profile2" type="radio" name="profile" value="sell" id="vendedor">
                            <label for="vendedor">Vendedor</label>
                        </div>

                             <div class="profileErrorDiv" style="display:none;" style="color:red; "></div>


                        <div class= "title">
                            <h4>Intereses</h4>
                        </div>
    
                        <div class="interests">
                            <div>
                                <input class="interests1" type="checkbox" name="interests" value="accesorios" id="a">
                                <label for="a">Accesorios</label>
                            </div>
                            <div>
                                <input class="interests2" type="checkbox" name="interests" value="arte" id="b">
                                <label for="b">Arte</label>
                            </div>
                            <div>
                                <input class="interests3"  type="checkbox" name="interests" value="hogar" id="c">
                                <label for="c">Hogar</label>
                            </div>
                            <div>
                                <input class="interests4" type="checkbox" name="interests" value="cosmética" id="d">
                                <label for="d">Cosmética</label>
                            </div>
                            <div>
                                <input class="interests5" type="checkbox" name="interests" value="ropa y calzado" id="e">
                                <label for="e">Ropa y calzado</label>
                            </div>
                        </div>
    
    
                    <div class= "title">
                        <h4>Elegi tu foto de usuario</h4>
                    </div>
    
                    <div class = "file-upload">
                        <!-- esto hace que se oculte y se pueda customizar, sino reaparece-->
                        <input type="file" name= 'avatar' id="actual-btn" class="avatar">
                        <!--boton custom-->

                        <% if (locals.errors && errors.avatar) { %> 
                            <div class ="text-danger">
                                <%= errors.avatar.msg %> <!-- VER AQUÍ POR QUÉ NO SE EJECUTA EL ERROR-->
                            </div>
                        <% } %> 

                        <!--label class ="btn-file" for="actual-btn">Seleccionar avatar</label>-->
                        <!--advertencia de archivo no subido-->
                        <!--span id="file-chosen">No se eligió archivo</span> -->
                    </div>
                             <div class="avatarErrorDiv" style="display:none;" style="color:red; "></div> 
                             <div class="avatarErrorDiv2" style="display:none;" style="color:red; "></div> 


                    <div class="password">
                        <input class="password-input" type="password" name="pass" placeholder="Elegí tu contraseña"> 

                             <div class="passwordErrorDiv" style="display:none;" style="color:red; "></div> 

                        <input class="passwordVerify-input" type="password" name="pass_confirm" placeholder="Confirmá tu contraseña">

                             <div class="passwordVerifyErrorDiv" style="display:none;" style="color:red; "></div> 
          

                        <% if (locals.errors && errors.pass) { %> 
                            <div class ="text-danger">
                                <%= errors.pass.msg %> 
                            </div>
                        <% } %> 



                    </div>
    
                    <div class= "btn-submit">
                        <input class= "reset-button" type="reset" value="Borrar">
                        <input class="submit-button action" type="submit" value="Enviar">
                    </div>
                             <div class="formErrorDiv" style="display:none;" style="color:red; "></div>     
                </form>
            </main>

            <!--FOOTER-->
            <%- include ('./partials/footer') %>    
            
        </body>
    <script src="/js/userCreateValidator.js"></script>
</html>