<!DOCTYPE html>
<html>

        <head>
            <%- include ('./partials/head') %>
            <link href ="/css/stylesRegister.css" rel="stylesheet">   
        </head>

    <body>

        <%- include ('./partials/header') %>

            <main class="register">

                <div class="main-form" action="users/register" method="POST" enctype="multipart/form-data">

                    <div class= "title">
                        <h4>Mis datos</h4>
                    </div>
                    
                    <div class= "pic-profile">
                        <img src="../img/avatar/<%= user.avatar %> ">
                    </div>

                    <div class="container-personal-information">
                        <p class= "personal-information-input"> <%= user.name %>  </p> 
                        <p class= "personal-information-input"> <%= user.user %>  </p> 
                        <p class= "personal-information-input"> <%= user.email %>  </p> 
                        <p class= "personal-information-input"> <%= user.birth_date %>  </p> 
                        <p class= "personal-information-input"> <%= user.address %>  </p> 
                        <p class= "personal-information-input"> <%= user.country %>  </p> 

    
                        <div class= "title">
                            <h4>Perfil</h4>
                        </div>
    
                        <div class="profile">
                            <p class= "personal-information-input"> <%= user.profile %>  </p> 
                        </div>
    
                        <!--muestra solo si es comprador-->
                        <div class= "title">
                            <h4>Mis Intereses</h4>
                        </div>
    
                        <div class="interests">
                            <p class="peronal-information-input"><%= user.interestes%> </p>
                        </div>
    
    
                        <div class= "title">
                            <h4>¿Deseas cambiar tu contraseña?</h4>
                        </div>

                    </div>

                    <div class="password">
                        <input class="password-input" type="password" name="pass" placeholder="Elegí tu nueva contraseña"> 
                    </div>
    
                    <div class= "btn-submit">
                        <input class= "submit-button" type="reset" value="Eliminar mi perfil">
                        <input class= "submit-button" type="reset" value="Cerrar sesión">
                        <input class="submit-button action" type="submit" value="Editar">
                    </div>
    
                </div>
            </main>

            <!--FOOTER-->
            <%- include ('./partials/footer') %>    
            
    </body>
</html>